{{ define "head_extra" }}<title>More About Emotional Baking</title>{{ end }}
{{ define "body_class" }}mt-3 container{{ end }}
{{ define "navbar" }}{{ partial "navbar.html" "More" }}{{ end }}

{{ define "main" }}
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 mt-3 fs-6">
        <h3 class="mb-3">Recipe Information</h3>
        <p class="mt-5">I use the "scoop and shake" method when measuring flour...</p>
        <p class="mt-5 text-end eb-more-meta">I've always done it this way and I like it!</p>
        <p class="mt-5">Altitude, temperature, weather, oven type (convection vs conventional), and emotions may affect the outcome of a recipe. Please take this into account.</p>
        <p class="mt-5 text-end eb-more-meta">Adjusting the baking time, liquid content, and emotional state may assist in this.</p>
        <p class="mt-5">Weighing the ingredients as noted in the recipes is the best and most accurate way to achieve the same results every time.</p>
        <p class="mt-5 text-end eb-more-meta">If you don't have a kitchen scale; using measuring cups and spoons will work well.</p>
        <p class="mt-5">Make sure your ingredients are the temperature as noted in the recipe.</p>
        <p class="mt-5 text-end eb-more-meta">This can be an annoying aspect of baking but it'll provide the best results!</p>
    </div>
</div>
{{ end }}
