{{ define "jr_head_extra" }}<title>About Emotional Baking Jr.</title>{{ end }}
{{ define "jr_navbar" }}{{ partial "jr/navbar.html" "About" }}{{ end }}

{{ define "jr_main" }}
<div class="eb-about fs-6">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8">
            <div class="mt-3"><span class="eb-color-main"><strong>Emotions</strong></span>. [and] <strong>Baking</strong>. That's why you're here ...</div>
            <div class="mt-3">Emotions. There are lots of them, and they vary, but each one is important. Don't ignore them, they're telling you something – even if it's hard to hear.</div>
            <div>Here, at Emotional Baking jr., you'll see that you can tackle any problem, big or small when you break it down into little steps. You'll see you can follow a recipe step-by-step, work through your feelings, and enjoy the treat you made. You can do it, but you don't have to do it alone - call a friend, a family member, or someone you want to share with.</div>
            <div class="mt-3">So, if you're feeling (like baking) ...</div>
            <div>something that fits with the mood you're in,</div>
            <div>something that helps manage your feelings,</div>
            <div>something that's distracting and/or fun.</div>
            <div>something that tastes good ...</div>
            <div class="mt-3 text-end">You've come to the right place.</div>
        </div>
    </div>
    <div class="row mt-3 justify-content-left">
        <div class="col-3 col-sm-3 text-end"><span class="eb-color-main">TL</span>DR:</div>
        <div class="col-5 col-sm-4">
            <ul class="list-unstyled">
                <li>I'm emotional</li>
                <li>I'll bake</li>
                <li>Emotional Baking</li>
                <li>Feel, Bake, Better</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 text-end">
            <div>Good recipes and strong emotions live here ...</div>
            <div>All of the recipes are originals.</div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 eb-note-for-anyone">
            {{ partial "note_for_anyone.html" . }}
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8">
            <div>Contact: <a href="mailto:info@emotionalbaking.com">info@emotionalbaking.com</a></div>
        </div>
    </div>
</div>
{{ end }}
