<ul class="justify-content-center list-group list-group-horizontal fs-9 eb-color-default eb-social-footer d-print-none">
    <li class="list-group-item">Find Emotional Baking on:</li>
    <li class="list-group-item"><a href="https://www.instagram.com/emotional_baking"><img loading="lazy" alt="Emotional Baking on Instagram" src="/assets/images/common/share_instagram.png"></a></li>
    <li class="list-group-item"><a href="https://www.pinterest.com/emotionalbaking"><img loading="lazy" alt="Emotional Baking on Pinterest" src="/assets/images/common/share_pinterest.png"></a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/emotionalbaking"><img loading="lazy" alt="Emotional Baking on Facebook" src="/assets/images/common/share_facebook.png"></a></li>
</ul>
