{{ $active := . }}
<div class="justify-content-center d-print-none eb-nav">
    <ul class="nav nav-pills justify-content-center mt-4">
        <li class="nav-item mb-2">
            <a class="nav-link {{ if eq $active "Home" }}active{{ end }}" href="/jr/">Home</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link {{ if eq $active "Recipes" }}active{{ end }}" href="/jr/posts/">Recipes</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link {{ if eq $active "More" }}active{{ end }}" href="/jr/more/">More</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link {{ if eq $active "About" }}active{{ end }}" href="/jr/about/">About</a>
        </li>
        <li class="nav-item mb-2 border border-dark rounded">
            <a class="nav-link" href="/">EB</a>
        </li>
    </ul>
</div>
<div class="justify-content-center d-print-none eb-nav">
    <ul class="nav nav-pills justify-content-center mt-4">
        <li class="nav-item d-flex mb-2">
            <input class="form-control me-2 eb-btn-search-query" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success eb-btn-search" type="submit">Search</button>
        </li>
    </ul>
</div>
<script type="text/javascript">
    function search_keypress() {
        var searchfield = document.getElementsByClassName("eb-btn-search-query")[0];
        searchfield.addEventListener("keyup", function(event) {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.location.href = "/jr/search/?query=" + searchfield.value;
            }
        });
    }
    document.getElementsByClassName("eb-btn-search")[0].onclick = function () {
        var searchfield = document.getElementsByClassName("eb-btn-search-query")[0];
        document.location.href = "/jr/search/?query=" + searchfield.value;
    };
    document.addEventListener("DOMContentLoaded", function(event) {
        search_keypress();
    });
</script>
